.catch{
  background-image: url(img\ 2/firstview.jpg);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catch_title{
  font-size: 30px;
  color: white;
}


.about{
  text-align: center;
  padding: 50px 80px;
}
.about_title{
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 50px;
}
.about_content{
  line-height: 15px;
}
span{
  font-weight: bold;
}


.blog{
  padding: 40px 220px;
}
.blog_title{
  padding-bottom: 30px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.cards{
  display: flex;
  justify-content: space-between;
}
.card{
  width: 20vw;
}
.card_img1{
  width: 100%;
}
.card_content{
  padding-top: 12px;
  font-weight: bold;
}

.question{
  height: 600px;
}
.question_title{
  font-size: 23px;
  font-weight: bold;
  margin: 40px;
  text-align: center;
}
.form_tag{
  width: 70vw;
  margin: auto;
}
form{
  text-align: center;
}
label{
  font-weight: bold;
}
.name{
  margin-left: 178px;
  line-height: 30px;
}
.email{
  margin-left: 117px;
}
select,textarea{
  margin-left: 196px;
}
.buttons{
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 20px auto 50px;
}
.button1{
  padding: 10px 80px;
  background-color: gray;
  border: none;
  margin-right: 18px;
}
.button2{
  padding: 10px 80px;
  background-color: turquoise;
  color: white;
  border: none;
  margin-left: 18px;
}


